<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />


	<title>Document</title>
</head>

<body>

	<section>

		<div class="container">
			<br>

			<div class="col-md-11">
				<div class="card">
					<header class="card-header  bg-primary">

						<h4 class="text-center card-title mt-2 text-white">UPDATE LIBRARIAN</h4>
					</header>
					<article class="card-body">




						<!-- Adding alert message-->
						<div class="container text-center">



						</div>


						<!-- adding regitration page logo image -->

						<div class="container text-center">
							<img style="width: 160px" alt="" th:src="@{/img/librarian.png}">
						</div>

						<form action="" th:action="@{/admin/process_updateform}" method="POST" th:object="${librarian}">







							<input type="hidden" name="id" class="form-control" id="name_field"
								placeholder="Enter Your Name" required="required" th:value="${librarian.id}">










							<!--User name field  -->

							<div class="form-group">
								<label for="">Librarian name </label>
								<input type="text" name="name" class="form-control" id="name_field"
									placeholder="Enter Your Name" required="required" th:value="${librarian.name}">

								<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">

								</div>
							</div>




							<!--User email field  -->

							<div class="form-group">
								<label for="">Email </label>
								<input type="email" class="form-control" id="email_field" placeholder="Enter Email"
									name="email" th:value="${librarian.email}" required="required">
							</div>



							<!-- user about field  -->

							<div class="form-field">
								<textarea name="about" id="about_field" rows="10" class="form-control"
									placeholder="Enter about Librarian" th:text="${librarian.about}"></textarea>
							</div>


							<br>

							<!-- Adding reset and submit button for form -->

							<div class="container text-center">


								<button type="submit" class="btn bg-primary btn-block text-white">UPDATE</button>
							</div>
							<!-- form-group// -->
						</form>
					</article>
					<!-- card-body end .// -->

				</div>
				<!-- card.// -->
			</div>
			<!-- col.//-->
			<!-- row.//-->
		</div>
		<!--container end.//-->
		<br> <br>

		<!-- Adding tinyMCE  -->

		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

		<script>
			tinymce.init({
				selector: '#mytextarea'
			});
		</script>


		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$("#add-contact").addClass("active");
			});
		</script>
	</section>
</body>

</html>